<a href="https://colab.research.google.com/github/brotheramin/MachineLearning/blob/main/SepsisMiniProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# data manipulation libraries
import numpy as np # linear algebra
import pandas as pd # data processing

# data visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

# machine learning methods
from sklearn.model_selection import train_test_split # data splitting into train and test
from sklearn.preprocessing import FunctionTransformer


from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import cross_validate
from sklearn.metrics import f1_score

In [30]:
df = pd.read_csv('feature_combined.csv')

In [ ]:
df.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
X_0,1.500000,2.227147,4.000000,0.000000,4.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,2.227147,4.000000,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
X_1,140.000000,140.000000,140.000000,138.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,141.000000,141.000000,141.000000,141.000000,140.000000,140.000000,140.000000,140.000000,140.000000,141.000000
X_2,138.000000,138.250000,138.500000,138.000000,138.500000,139.000000,139.000000,139.000000,139.000000,139.000000,139.750000,140.250000,140.250000,140.250000,140.000000,140.000000,140.000000,140.000000,140.000000,140.250000
X_3,137.000000,137.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000
X_4,1.414214,1.129338,2.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.129338,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X_103,0.015385,0.006593,-0.001099,-0.027473,-0.037363,-0.065934,-0.095604,-0.110989,-0.126374,-0.121978,-0.034066,0.018681,0.094505,0.078022,0.053846,0.054945,0.028571,0.045055,0.024176,-0.014286
X_104,0.650444,0.650444,0.776250,1.235168,1.281025,1.724633,2.323238,2.544476,2.780426,2.752621,3.841407,4.222953,4.717670,4.838415,5.010246,5.008966,5.039587,5.058631,5.010246,4.827804
offset,-660.000000,-655.000000,-650.000000,-645.000000,-640.000000,-635.000000,-630.000000,-625.000000,-620.000000,-615.000000,-610.000000,-605.000000,-600.000000,-595.000000,-590.000000,-585.000000,-580.000000,-575.000000,-570.000000,-565.000000
id,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
label,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79800 entries, 0 to 79799
Columns: 108 entries, X_0 to label
dtypes: float64(93), int64(15)
memory usage: 65.8 MB

In [ ]:
df.isna().sum(axis = 0).sort_values(ascending=False) / len(df) * 100

X_0      0.0
X_68     0.0
X_79     0.0
X_78     0.0
X_77     0.0
        ...
X_32     0.0
X_31     0.0
X_30     0.0
X_29     0.0
label    0.0
Length: 108, dtype: float64

In [ ]:
df.nunique()

X_0       1372
X_1        137
X_2        513
X_3        135
X_4       1841
          ...
X_103     1147
X_104     4182
offset     133
id         600
label        2
Length: 108, dtype: int64

In [ ]:
df.describe(include="all").T

,count,mean,std,min,25%,50%,75%,max
X_0,79800.0,0.155129,3.047073,-6.000000,-1.289256,0.00000,2.602498,4.000000
X_1,79800.0,89.397506,20.258613,0.000000,75.000000,88.00000,102.000000,177.000000
X_2,79800.0,87.264355,19.951703,0.000000,72.750000,85.50000,99.750000,177.000000
X_3,79800.0,85.344023,19.978456,0.000000,71.000000,84.00000,98.000000,177.000000
X_4,79800.0,0.145070,1.102048,-2.000000,-0.228728,0.00000,0.854563,2.000000
...,...,...,...,...,...,...,...,...
X_103,79800.0,0.000516,0.100430,-2.241758,-0.029670,0.00000,0.030769,2.209890
X_104,79800.0,2.405792,2.542446,0.000000,1.068188,1.83275,3.004270,50.647474
offset,79800.0,-330.000000,191.964741,-660.000000,-495.000000,-330.00000,-165.000000,0.000000
id,79800.0,300.500000,173.205925,1.000000,150.750000,300.50000,450.250000,600.000000
label,79800.0,0.500000,0.500003,0.000000,0.000000,0.50000,1.000000,1.000000

In [ ]:
df["label"].value_counts()

1    39900
0    39900
Name: label, dtype: int64

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df.drop("id", axis=1), df["id"], test_size=0.2, random_state=42)

In [9]:
X_test.head()

,X_0,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_97,X_98,X_99,X_100,X_101,X_102,X_103,X_104,offset,label
79644,1.500000,88,85.00,83,1.190340,0.20,2.160247,-1.692857,91,87.000000,...,1.214986,-0.388817,25,22.153846,19,-0.536671,0.068132,1.863963,-110,0
22495,-1.200000,63,61.50,60,0.000000,0.04,1.290994,-0.944379,63,61.714286,...,0.899735,-0.983072,21,20.384615,19,-0.930113,-0.013187,0.869718,-570,1
54259,0.000000,68,68.00,68,0.000000,0.00,0.000000,7.000000,70,68.285714,...,0.534522,2.237219,33,23.923077,21,1.695317,-0.118681,3.707235,-20,0
4422,-1.289256,76,73.50,72,0.854563,0.20,1.914854,2.360947,76,72.857143,...,1.527525,-0.104141,29,25.846154,23,0.262937,-0.030769,1.863963,-495,1
71095,-3.869005,103,99.75,96,-0.228728,0.50,3.304038,-0.814881,103,98.714286,...,1.380131,-0.434135,17,14.230769,12,0.342010,-0.014286,1.423250,-295,0

In [34]:
df1 = df.loc[df['offset'] == 0]

In [35]:
df1.head()

,X_0,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_98,X_99,X_100,X_101,X_102,X_103,X_104,offset,id,label
132,-1.200000,127,125.50,124,0.000000,0.20,1.290994,-0.056816,127,124.857143,...,1.772306,19,16.923077,16,1.085143,0.028571,0.862316,0,1,1
265,4.000000,86,85.25,85,2.000000,-0.02,0.500000,-1.317901,90,86.857143,...,-0.707671,20,15.846154,13,0.634795,-0.054945,2.409915,0,2,1
398,4.000000,106,105.25,105,2.000000,0.02,0.500000,3.000000,106,105.000000,...,0.060937,32,30.307692,28,-0.722135,0.012088,1.109400,0,3,1
531,-3.109816,105,98.75,94,0.456508,-0.14,5.188127,-0.077303,105,96.285714,...,-1.039498,21,16.615385,14,0.449215,0.078022,2.433737,0,4,1
664,0.000000,77,77.00,77,0.000000,0.00,0.000000,7.000000,77,76.857143,...,1.798440,23,16.076923,11,0.845429,-0.015385,2.985005,0,5,1

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 132 to 79799
Columns: 108 entries, X_0 to label
dtypes: float64(93), int64(15)
memory usage: 510.9 KB

In [39]:
X_train, X_test, y_train, y_test = train_test_split(df1.drop("label", axis=1), df1["label"], test_size=0.2, random_state=42)

In [40]:
logreg = LogisticRegression(verbose=1)
logreg.fit(X_train, y_train)
cv_logreg = cross_validate(logreg, X_train, y_train, cv=3, scoring="f1", return_train_score=True)
cv_logreg

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished

{'fit_time': array([0.07069492, 0.07728481, 0.07785773]),
 'score_time': array([0.00922132, 0.00699425, 0.00738525]),
 'test_score': array([0.89873418, 0.9125    , 0.94117647]),
 'train_score': array([0.98402556, 0.99047619, 0.97160883])}

In [41]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=50)
knn.fit(X_train, y_train)
cv_knn = cross_validate(knn, X_train, y_train, cv=3, scoring="f1", return_train_score=True)
cv_knn

{'fit_time': array([0.00797343, 0.00571489, 0.00543642]),
 'score_time': array([0.02389836, 0.01787615, 0.0171082 ]),
 'test_score': array([0.96103896, 1.        , 0.99363057]),
 'train_score': array([0.99367089, 0.98742138, 0.98076923])}

In [43]:
rf = RandomForestClassifier(n_estimators=10, verbose=1)
cv_rf = cross_validate(rf, X_train, y_train, cv=3, scoring="f1", return_train_score=True)
cv_rf

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

{'fit_time': array([0.0294621 , 0.02615643, 0.02844572]),
 'score_time': array([0.00774431, 0.0086031 , 0.00885224]),
 'test_score': array([0.94736842, 0.98734177, 0.98089172]),
 'train_score': array([0.9968254, 1.       , 1.       ])}